:root {
        --header-background: #edf2f2;
        --header-font-size: 24px;
        --normal-font-size: 16px;
        --hover-transition: 150ms ease-in;
}
@font-face {
        font-family: iransansdn;
        src: url("../font/IranSansDN.ttf");
}
body{
        font-family: iransansdn;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: rgba(78, 131, 230, 0.8);
}
header {
        width: 100%;
        height: 110px;
        background-color: var(--header-background);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
}

.branding {
        display: flex;
        flex-direction: row-reverse;
        height: 110px;
        width: max-content;
        float: right;
        margin-right: 30px;
}

a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #54595f;
}

.logo-link {
        transition: var(--hover-transition)
}

.logo-link:hover {
        color: black;
}

.logo {
        width: 100px;
        height: 100px;
        margin-right: auto;
}

.title {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 30px;
        font-size: var(--header-font-size);
        word-break: break-word;
        text-align: center;
}

.user-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
        margin-right: 10px;
        align-content: center;
        margin-top: auto;
        margin-bottom: auto;
}

.user-action:hover,
.user-action:hover * {
        color: black;
}

.user-icon {
        transition: var(--hover-transition);
        font-size: 50px;
}

.user-action-text {
        transition: var(--hover-transition);
        margin-top: auto;
        margin-bottom: auto;
        font-size: var(--normal-font-size);
        text-align: center;
}

footer{
        margin-top: auto;
        background-color: var(--header-background);
}
footer hr{
       background-color:  #0ea481;
       color: #0ea481;
        border: none;
        height: 12px;
        width: 85%;
        margin: auto;
        margin-top: 20px;
        border-radius: 5px;
}
.footer-container{
        text-align: right;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
}
.about-us{
        width: 50%;
        padding: 30px;
}
.contact{
        width: 50%;
        padding: 30px;
}
@media only screen and (max-width: 600px) {
        .title {
                font-size: var(--normal-font-size);
                margin-right: 10px;
        }
        .footer-container{
                flex-direction: column;
                justify-content: center;
        }
        .about-us{
                width: 100%;
        }
        .contact{
                width: 100%;
        }
}